<!DOCTYPE html>

<html lang="en">
<head>
    <title> Allegro Scrapper 2023 </title>

    {% load sass_tags %}
    <link href="{% sass_src 'globals.scss' %}" rel="stylesheet" type="text/css" />
    <link href="{% sass_src 'main.scss' %}" rel="stylesheet" type="text/css" />

</head>
<body>
    <div class="action-bar-container"> 
        <h1 class="app-title"> Produkty Allegro </h1>

        <form action="/run-scraper/" method="get" id="search-product-form">
            <input class="normalInput" type="text" name="ean" placeholder="Podaj EAN">
            
            <button class="normalBtn" type="submit">Wyszukaj</button>
        </form>

    </div>

    <div class="table-container">

        <table>
            <thead>
                <tr> 
                    <th> Zdjęcie </th>
                    <th> ID </th>
                    <th> Data akt. </th>
                    <th> Akcja </th>
                    <th> Ean </th>
                    <th> [Najlepsza] Tytuł </th>
                    <th> Link do ofert </th>
                    <th> Link najlepsza oferta </th>
                    <th> Ilość ofert </th>

                    <th> Nick sprzedawcy </th>
                    <th> Koszty dostawy </th>
                    <th> Ocena produktu </th>
                    <th> Opinie o produkcie </th>

                    <th> Ile kupiono ogólnie</th>
                    <th> [Najlepsza] Ile kupiono</th>
                    <th> [Najlepsza] cena </th>
                    <th> Najnizsza cena </th>
                    <th> Najwyzsza cena </th>
                    <th> Średnia cena </th>
                    <th> [Najlepsza] opis </th>
                    <th> Parametry </th>
                    <th> Kategoria Allegro </th>
                    <th> Kategoria Id </th>
                    <th> Link do zdjęcia </th>
                </tr>
            </thead>

            <tbody>
            {% for product in products %}
                <tr>
                    <td> 
                        {% if product.first_photo_link %}
                            <img class="element_clickable" onClick="openLinkInNewTab('{{product.first_photo_link}}')" src={{product.first_photo_link}}> 
                        {% else %}
                            <img src="   https://cdn-icons-png.flaticon.com/512/10701/10701484.png "> 

                        {% endif %}
                    </td>
                    
                    <td> {{ product.id }} </td> 
                    <td> {{ product.date_added|date:"d.m.Y" }} </td>
                    <td> <button class="btnDelete" onclick="delete_product({{ product.id|safe }})">Usuń</button> </td>
                    <td> {{ product.product_or_ean }} </td>

                    <td class="product_nowrap"> 
                        {{ product.best_title}} 
                        {% if product.best_title %}
                            <p onclick="copyToClipboard('{{ product.best_title|escapejs }}')" class="copy-text">Kopiuj</p> 
                        {% endif %}
                    </td>
                    <td> <a target="_blank" href={{product.offer_link}}> Link oferty </a> </td>
                    <td> <a target="_blank" href={{product.best_offer_link}}> Link </a> </td>
                    <td class="text-center"> {{ product.how_many_offers}} </td>

                    <td class="text-center"> {{ product.best_offer_owner}} </td>
                    <td class="text-center"> {{ product.best_offer_delivery_costs}} </td>
                    <td class="text-center"> {{ product.product_rating}} </td>
                    <td class="text-center"> {{ product.product_opinions}} </td>

                    <td class="text-center"> {{ product.howManyBought}} </td>
                    <td class="text-center"> {{ product.max_howManyBought}} </td>
                    <td class="text-center"> {{ product.best_price}} zł </td>
                    <td class="text-center"> {{ product.lowest_price}} zł </td>
                    <td class="text-center"> {{ product.highest_price}} zł </td>
                    <td class="text-center"> {{ product.avg_price}} zł </td>
                    <td class="product_nowrap smallText"> 
                        {{ product.best_description|slice:":50" }}.. 
                        {% if product.best_description %}
                            <p onclick="copyToClipboard('{{ product.best_description|escapejs }}')" class="copy-text">Kopiuj pełny opis</p> 
                        {% endif %}
                    </td>
                    <td class="product_nowrap"> 
                        {{ product.parameters|slice:":30"|linebreaksbr}} 
                        {% if product.parameters %}
                            <p onclick="copyToClipboard('{{ product.parameters|escapejs }}')" class="copy-text">Kopiuj pełne parametry</p>
                        {% endif %}
                     </td>
                    <td class="product_nowrap"> 
                        {{ product.product_category}} 
                        {% if product.product_category %}
                            <p onclick="copyToClipboard('{{ product.product_category|escapejs }}')" class="copy-text">Kopiuj kategorie </p>  
                        {% endif %}
                    </td>
                    <td class="product_nowrap">
                        {{product.product_category_id}}
                        {% if product.product_category_id %}
                            <p onclick="copyToClipboard('{{ product.product_category_id|escapejs }}')" class="copy-text">Kopiuj Id </p>  
                        {% endif %}
                    </td>
                    <td class="product_nowrap"> 
                        {{ product.first_photo_link}} 
                        {% if product.first_photo_link %}
                            <p onclick="copyToClipboard('{{ product.first_photo_link|escapejs }}')" class="copy-text">Kopiuj link</p> 
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>

</body>

<script>
    document.addEventListener("DOMContentLoaded", function() {

        const form_search = document.querySelector("#search-product-form");
        form_search.addEventListener("submit", function(event) {
            event.preventDefault();
            const eanInput = form_search.querySelector("input[name='ean']").value;
            window.location.href = `/run-scraper/${eanInput}`;
        });

    });

    function delete_product(id) {
        const confirmation = confirm("Czy napewno chcesz usunąć ten produkt?");
        if (confirmation) {
            fetch(`/delete-product/${id}/`, {
                method: 'POST',  
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}',  
                    'Content-Type': 'application/json',  
                },
            })
            .then(response => {
                window.location.reload();  
            })
        }
    }

    function copyToClipboard(text) {
        const textarea = document.createElement('textarea');
        textarea.value = text;
        document.body.appendChild(textarea);
        textarea.select();
        document.execCommand('copy');
        document.body.removeChild(textarea);
    }

    function openLinkInNewTab(link) {
        window.open(link, "_blank");
    }

</script>

</html>