@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;700;900&display=swap');
@import "./colors.scss";
// font-family: 'Inter', sans-serif;



body, html {
    width: 100%;
    height: 100%;

    // font-family: 'Inter', sans-serif;
    font-family: sans-serif;
}

* {
    padding: 0;
    margin: 0; 

    box-sizing: border-box;

    font-family: inherit;
}

.action-bar-container {
    width: 100%;
    min-height: 100px;

    padding: 1rem;
}

.table-container {

    width: 100%;
    height: 100%;

    padding: 1rem;
    padding-top: 0;
    overflow-x: auto;

    table {

        border-collapse: collapse;
        margin: 25px 0;
        font-size: 0.9em;
        font-family: sans-serif;
        min-width: 400px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

        overflow-x: auto;

        thead {
            th {
                font-size: 1.25rem;
                font-weight: 500;
                text-align: left;
                white-space: nowrap;

            }

            th, td {
                padding: 12px 15px;
            }

            tr {
                background-color: $contrast-color;
                color: #ffffff;
                text-align: left;
            }

        }

        tbody {

            tr {
                border-bottom: 1px solid #dddddd;

                &:nth-child(even) {
                    background-color: #f3f3f3;
                }

                &:last-of-type {
                    border-bottom: 2px solid $contrast-color;
                }

                &:hover {
                    background-color: $contrast-color-light
                }
            }

            td {
                padding: 12px 15px;

                font-size: 1rem;

                &:hover {
                    color: $contrast-color;
                    cursor: pointer;
                }
            }

            img {
                max-width: 75px;
                max-height: 75px;

                display: block;
                margin: 0 auto;
            }

            .product_description {
                max-width: 50px;
            }
        }
    }

}

